
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.container{
background-color: #FFFDE7;
}

//IN THE MOOD HEADER

.inthemood-headers{
  .inthemood-header{
    text-transform: uppercase;
    font-size: calc(1.5em + 1.5vw);
    color: #E65100;
  }
  .inthemood-subheader{
    font-size: calc(.8em + .8vw);
    color: #424242;
  }

}
//REGISTRATION

.registration-container{
  background-image: url('https://static1.squarespace.com/static/52b89e37e4b029ce89f7720d/t/55fafdc2e4b0ce4699685f90/1442512324850/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg?format=2500w');
  background-size: cover;

  .registration-form{
    background-color: #ffffff;
    margin-top: 50px;
    .form-input-div{
      input{
        margin-top: 20px;
      }
    }
    .registration-image-uploads{
      margin-bottom: 30px;
      h4{
        text-transform: uppercase;
      }
    }
  }
}


//VIEWALL SEARCH
.viewall-lisitng-row{
  background-color: blue;
  height: 6vw;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

//CATEGORIES BAR
.categories-bar{
  margin-top: 50px;
  margin-bottom: 50px;
  .categories-dropdown{
    background-color: #fff;
    border: 2px solid #E0E0E0;
    border-radius: 5px;

    .btn{
      color: #616161;
      padding: 2px;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #fff;
      border: 0px;
      border-radius: 0;

      .categories-heading{
        font-size: 5vh;
        color: #616161;
        // font-style: italic;
      }
      .caret{
        margin-left: 15px;
      }
    }
  }
  .categories-dropdown:hover{
    color: #424242;
    border: 1px solid #424242;
  }
}

//FAVORTIES
.favorites-row{
  margin-top: 20px;
  margin-bottom: 20px;

  .favorites-col{
    padding-left: 0;

    .favorites-pane{

      .favorites-header{
        color: #212121;
        margin-top: 10px;
        font-size: calc(1em + 1vw);
        text-transform: uppercase;
      }

      .restaurant-cards{
        width: 150px;
        height: 150px;
        width: 150px;
        margin: 5px;
        padding: 5px;
        .material-icons{
          margin-top: 10px;
        }
        .restaurant-card-img{
          border-radius: 5px;
        }
        .restaurant-card-name{
          color: #212121;
          margin-top: 10px;
          font-size: calc(.5em + .5vw);
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }
        .restaurant-card-category{
          color: #616161;
          font-size: calc(.4em + .4vw);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }
      }
    }
  }
}

//VIEW ALL RESTAURANTS
.viewall-container{
  // background-color: lightgrey;
  .viewall-cards-container{
    // display: inline-block;
    margin-top: 30px;
    .viewall-card-container-header{
      color: #424242;
      font-size: calc(1.5em + 1.5vw);
      text-transform: uppercase;
    }

    .viewall-restaurant-card{
      margin: 5px;
      padding: 5px;
      padding-top: 15px;
      padding-left: 10px;
      margin-left: 13px;
      margin-right: 13px;
      // background-color: #FFF3E0;

      .viewall-header{

        .viewall-restaurant-info{
          // background-color: blue;
          // height: 80px;
        }
        .viewall-image{
          border-radius: 5px;
          width: 8vw;
        }

        .viewall-counter{
          padding-top: 2px;
        }

        .viewall-name{
          color: #212121;
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: calc(.7em + .7vw);
          width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }

        .viewall-category{
          color: #616161;
          font-size: calc(.7em + .7vw);
        }

        .viewall-restaurant-info{

        }
      }
    }
    .viewall-restaurant-card:hover{
      transform: scale(1.02);
      z-index: 1;
    }
  }
}

//DETAIL VIEW
.detail-view-container{
  .detail-view-row{
    margin-top: 20px;
    .detailview-pane{
      .detailview-header{
        border: 1px solid #BDBDBD;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin-top: 30px;
        .detailview-header-img{
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-origin: padding-box;
          .favorite-btn{
            margin: 10px;
          }
        }
        .detailview-header-text{
        padding: 20px;
      }
      .detailview-header-info{
        border-top: 1px solid #BDBDBD;
        padding: 15px;
        margin-top: 10px;
      }
      }
      .detailview-aside{
        color: #fff;
        margin-top: 30px;
        .detailview-about{
          background-color: #FFD180
;
          .about-image{
            float: left;
            padding: 10px;
            border-radius: 10px;
          }


          .detailview-aside-review {
            padding: 10px;
            img{
              padding: 5px;
            }
          }
        }

        .detailview-location-pane{
          margin-top: 30px;
        }
      }
    }
  }
}

//DETAIL VIEW specials


//DETAIL VIEW MENU
.detailview-menu-list{
  // background-color: yellow;
  h2{
    text-transform: uppercase;
  }
  h3{
    text-transform: uppercase;
  }
  margin-bottom: 30px;
  padding: 20px;
  .mdl-layout-title{
    padding: 20px;
    border-bottom: 1px solid #E0E0E0;
  }
  .menu{
    .table-dish{
      width: 40%;
    }
    .table-description{
      width: 50%;
    }
    .table-price{
      width: 10%;
    }
    // .table-available{
    //   width: 20%
    // }
    .detailview-menu-rows{
      // background-color: green;
      color: #616161;
      line-height: 35px;
      border-bottom: 2px solid #EEEEEE;
    }
  }
}


//SIGNUP CONTAINER
.signup-container{
  background-image: url('https://static1.squarespace.com/static/52b89e37e4b029ce89f7720d/t/55fafdc2e4b0ce4699685f90/1442512324850/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg?format=2500w');
  background-size: cover;
  .signup-col{
    background-color: #fff;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
.signup-modal{
  background-color: #fff;
  margin-top: 5%;
  .btn{
    margin: 20px;
  }
}

//SIGNIN
.login-container{
  background-image: url('https://static1.squarespace.com/static/52b89e37e4b029ce89f7720d/t/55fafdc2e4b0ce4699685f90/1442512324850/bigstock-Coffee-Shop-Blur-Background-Wi-74331850.jpg?format=2500w');
  background-size: cover;
  .login{
    background-color: #fff;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    .login-header{
      font-size: calc(1.5em + 1.5vw);
      color: #E65100;
      text-transform: uppercase;
    }
    .login-subheader{
      font-size: calc(1em + 1vw);
      color: #424242;
      text-transform: uppercase;
    }
  }
}

//FAVORITES
.favorites-container{
  .favorites-row{
    .favorites-pane{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

//MAP
.favorites-map{
  margin-top: 10px;
  box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.75);
}

//DASHBOARD INFO

.dashboard-container{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #757575;
  button{
    margin-bottom: 20px;
  }
}

.dashboard-specials{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #757575;
  button{
    margin-right: 20px;
  }
}

.menu-pane{
  .menu-panels{
    margin-bottom: 30px;
    .menu-forms{
      // background-color: blue;
      margin-bottom: 60px;
    }
  }
}


//Template
.template{
  .nav-bar-col{
    background-color: beige;
    box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.75);
    background-image: url('http://www.fortunebuilders.com/wp-content/uploads/2015/03/greenville-downtown-cityscape.jpg');
    background-position: right;
    background-size: cover;
    .nav-headers{
      background-color: rgba(36, 44, 44, 0.3);
      // padding: 15px;

      .nav-header{
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: bold;
        // height: 5vw;
        font-size: calc(2em + 2vw);
        color: #E65100;
      }
      .nav-subheader{
        text-transform: uppercase;
        text-transform: uppercase;
        // height: 3vw;
        font-size: calc(1.5em + 1.5vw);
        color: #fff;
      }
    }
  }
  .nav-message{
    color: #fff;
  }
}

.footer-container{
  border-top: 2px solid #BDBDBD;
  margin-top: 20px;
  padding-top: 15px;
  // background-color: #FFA000;
}
