
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.registration-form{
  .form-header{
    display: inline-flex;
    img{
      padding-right: 20px;
    }
  }
  .categories{
    // display: inline-table;
    input{
      margin-bottom: 15px;
    }
  }
  .address-form{
    // display: inline-block;
  }
}
